#odin-recipe {
    text-align: center;
}

.funny-text,
h1 {
    font-family: Papyrus, fantasy;
}

ul li {
    font-weight: bold;
}

ol li {
    background-color: yellow;
    margin-top: 10px;
    font-size: 20px;
}

.funny-text.ingredients {
    color: #ff0000;
}
